{% extends 'realexams/back_base.html' %}

{% load static %}

{% block content %}
  <div id="select-participant">
      <h1>{{test.name}}</h1>
      <div class="participant-list" style="display:flex; align-items: center; flex-wrap: wrap; justify-content: center; max-width:600px;">
        <a href="{% url 'realexams:take_test' test.id %}" class="button horiz-button">Take Test</a>
        <a href="{% url 'realexams:view_test_data' test.id %}" class="button horiz-button">View Results</a>
      </div>
  </div>
{% endblock %}
