[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.12"

[packages]
django-heroku = "*"
gunicorn = "*"
django-authtools = "*"
django = "*"
awscli = "*"
cloudinary = "*"
python-dateutil = "*"
boto3 = "*"
django-storages = "*"
django-rq = "*"
unicodecsv = "*"

[dev-packages]
